*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.applybox{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 10px;
    
}
.web{
    font-size: 0.6em;
}
.form_container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-size: 15px;
}

input,select,textarea{
    padding: 6px 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    outline-color: rgb(234, 63, 63);
}
.button_con{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    

}
button{
    background-color: red;
    border: 2px solid transparent;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: gray;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control{
    grid-column: 1 /span 2;
}
.textarea_control textarea{
  width: 100%;
}
@media (max-width :460px){
    .textarea_control{
    grid-column: 1 /span 1;
}
   

}
textarea:focus{
    outline-color: rgb(234, 63, 63);
}